name: Deploy

# Trigger the workflow on push and
# pull request events on the production branch
on:
    push:
        branches:
            - main
# Authenticate to the the server via ssh
# and run our deployment script
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Deploy to server
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  port: ${{ secrets.PORT }}
                  key: ${{ secrets.SSHKEY }}
                  script: |
                      rm -rf /var/www/builder
                      cd /var/www && git clone github-betriver:sleepfinance/betriver.git builder
                      cp /var/www/envs/.demo /var/www/builder/.env
                      cd /var/www/builder && ./.scripts/deploy.sh
