name: Deploy

# Trigger the workflow on push and
# pull request events on the production branch
on:
    push:
        branches:
            - main
# Authenticate to the the server via ssh
# and run our deployment script
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Deploy to server
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  port: ${{ secrets.PORT }}
                  key: ${{ secrets.SSHKEY }}
                  script: |
                      echo "Deployment started ..."
                      rm -rf /var/www/demo
                      cd /var/www && git clone github-betriver:sleepfinance/betriver.git demo
                      cp /var/www/envs/.demo /var/www/demo/.env
                      cd /var/www/demo && chmod u+r+x ./.scripts/deploy.sh
                      echo "Running Deployment"
                      cd /var/www/demo && ./.scripts/deploy.sh
